
html, body {
	height: 100%;
}

ul {
	padding-left: 1em;
}

body {
	background-color: #030708;
	padding: 10px 20px 20px 20px;
}

@media screen and (min-width: 3800px) {
	body {
		padding: 50px 100px 100px 100px;
	}
}
@media screen and (min-width: 1900px) and (max-width: 3799px) {
	body {
		padding: 50px 100px 100px 100px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
	body {
		padding: 10px 20px 20px 20px;
	}
}

/****************************************/

h1 {
	text-align: center;
	font-size: 1.5em;
	color: #a5c8e6;
	padding: 0;
	margin: 10px 0;
	text-shadow: 5px 5px 15px #334d71;
}

@media screen and (min-width: 3800px) {
	h1 {
		font-size: 3.5em;
		margin-bottom: 50px;
	}
}
@media screen and (min-width: 1900px) and (max-width: 3799px) {
	h1 {
		font-size: 2.5em;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
	h1 {
		font-size: 1.5em;
	}
}

/****************************************/

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	background-color: #e6e6e6;
}

@media screen and (min-width: 3800px) {
	#context-menu {
		font-size: 2em;
		border-radius: 0.3em;
	}
	#context-menu > li > a {
		padding: 0.5em 2em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	#context-menu {
		font-size: 1em;
		border-radius: 0.2em;
	}
	#context-menu > li > a {
		padding: 0.5em 1.5em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
	#context-menu {
		font-size: 0.8em;
		border-radius: 0.2em;
	}
	#context-menu > li > a {
		padding: 0.5em 1em;
	}
}

/****************************************/

#error-message {
	position: fixed;
	top: 100px;
	display: none;
	text-align: center;
	font-size: 1em;
	padding: 1em;
}

@media screen and (min-width: 3800px) {
	#error-message {
		font-size: 3em;
		padding: 1em;
	}
}
@media screen and (min-width: 1900px) and (max-width: 3799px) {
	#error-message {
		font-size: 2em;
		padding: 1em;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
	#error-message {
		font-size: 1em;
		padding: 1em;
	}
}
