
body.transpblue {
	background-image: url(/transpblue.jpg);
	background-size: 100%;
	background-attachment: fixed;

	h1 {
		color: #ddeaf5;
	}

	/******** for the large dashboard *******/

	.panel-transporange {
		&> .panel-body {
			border-radius: 0;
		}
	}

	.panel-warning {
		background-color: #132142b3;
		&> .panel-heading {
			background-color: #08151880;
		}
	}

	.panel-default {
		background-color: #288faa99;
		border-color: transparent;
		box-shadow: 0 0 8px #325e6b;
		&> .panel-body {
			background-color: #1e030bcc;
			border-color: transparent;
		}
		&> .panel-footer {
			background-color: transparent;
			border-color: transparent;
		}
	}

}

.panel-transpblue {
	background-color: #112a301a;
	border: 0;
	border-radius: 10px;

	&> .panel-heading {
		text-shadow: 2px 2px 8px #0f3944;
		color: #b1e3f0;
		background-color: #112a301a;
		border-color: #47abc5c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		@media screen and (min-width: 3800px) {
			font-size: 2.5em;
		}
		@media screen and (min-width: 1900px) and (max-width: 3799px) {
			font-size: 1.5em;
		}
		@media screen and (min-width: 1200px) and (max-width: 1899px) {
			font-size: 1.1em;
		}

	}

	&> .panel-body {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: #112a3075;

		@media screen and (min-width: 3800px) {
			padding: 5em;
		}
		@media screen and (min-width: 1900px) and (max-width: 3799px) {
			padding: 2em;
		}
		@media screen and (min-width: 1200px) and (max-width: 1899px) {
			padding: 1em;
		}

	}

	.table {
		color: #def0f5;
		text-shadow: 1px 1px 3px #00181c;

		@media screen and (min-width: 3800px) {
			font-size: 2em;
		}
		@media screen and (min-width: 1900px) and (max-width: 3799px) {
			font-size: 1.2em;
		}
		@media screen and (min-width: 1200px) and (max-width: 1899px) {
			font-size: 1em;
		}

		&> thead > tr > th {
			border-bottom: 2px solid #296271c9;
			border-top: none;
		}
		&> tbody > tr > td {
			border-bottom: 1px solid #296271c9;
			border-top: none;
		}

	}

	.table-striped {

		&> tbody > tr:nth-of-type(2n+1) {
			background-color: #14343c1a;
		}

	}

}
