
.panel-info {
	background-color: #50382d;
	border-color: #452617;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	&> .panel-heading {
		background-color: #452617;
		border-color: #452617;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		text-align: center;
		color: #ddd;
		text-shadow: 2px 2px #684e4e;

		@media screen and (min-width: 3800px) {
			font-size: 2.5em;
		}
		@media screen and (min-width: 1900px) and (max-width: 3799px) {
			font-size: 1.5em;
		}
		@media screen and (min-width: 1200px) and (max-width: 1899px) {
			font-size: 1.5em;
		}

	}

	&> .panel-footer {
		background-color: #452617;
		border-color: #452617;

		@media screen and (min-width: 3800px) {
			font-size: 2em;
		}
		@media screen and (min-width: 1900px) and (max-width: 3799px) {
			font-size: 1.5em;
		}
		@media screen and (min-width: 1200px) and (max-width: 1899px) {
			font-size: 1.2em;
		}

		.list-group > .list-group-item {
			border-radius: 10px;
			margin: 15px 0;
			padding: 2em;
			box-shadow: 5px 5px 14px #310e0e;
			background-color: #1e1414;
			border-width: 0;
			color: #ffddd4;

			@media screen and (min-width: 3800px) {
				padding: 2em;
			}
			@media screen and (min-width: 1900px) and (max-width: 3799px) {
				padding: 1.5em;
			}
			@media screen and (min-width: 1200px) and (max-width: 1899px) {
				padding: 1em;
			}

		}

	}

}
