html, body {
    height: 100%;
}

body {
    background-color: #061325;
    padding: 50px 100px 100px 100px;
}

body > h1 {
    text-align: center;
    color: #a5c8e6;
    font-size: 2.5em;
    padding: 0;
    margin: 10px 0;
}

.panel-primary {
    background-color: #001531;
}

.panel-primary > .panel-heading {
    color: #70cac7;
    background-color: #06131b;
    font-size: 1.5em;
}

.panel-primary > .panel-body {
    background-color: #001531;
}

.table {
    color: #a5c8e6;
    font-size: 1.2em;
}
.table > thead > tr > th {
    border-bottom: 2px solid #2f6899;
}
.table > tbody > tr > td {
    border-bottom: 1px solid #2f6899;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #032045;
}

.nav-pills {
    margin-bottom: 10px;
}

.nav-pills > li > a {
    padding: 5px 8px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #a5c8e6;
}

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
    background-color: #81a4a1;
}

#error-message {
    position: fixed;
    top: 100px;
    display: none;
    text-align: center;
    font-size: 2em;
    padding: 1em;
}
