html, body {
	height: 100%;
}

ul {
	padding-left: 1em;
}

body {
	background-color: #030708;
	padding: 10px 20px 20px 20px;
}
body.transpblue {
	background-image: url(/glass.jpg);
	background-size: 100%;
}

@media screen and (min-width: 3800px) {
	body {
		padding: 50px 100px 100px 100px;
	}
}
@media screen and (min-width: 1900px) and (max-width: 3799px) {
	body {
		padding: 50px 100px 100px 100px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
	body {
		padding: 10px 20px 20px 20px;
	}
}

/****************************************/

h1 {
	text-align: center;
	font-size: 1.5em;
	color: #a5c8e6;
	padding: 0;
	margin: 10px 0;
	text-shadow: 5px 5px 15px #334d71;
}

@media screen and (min-width: 3800px) {
	h1 {
		font-size: 3.5em;
		margin-bottom: 50px;
	}
}
@media screen and (min-width: 1900px) and (max-width: 3799px) {
	h1 {
		font-size: 2.5em;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
	h1 {
		font-size: 1.5em;
	}
}

/****************************************/

.panel-primary {
	background-color: #001531;
}

.panel-primary > .panel-heading {
	color: #70cac7;
	background-color: #06131b;
}

.panel-primary > .panel-body {
	background-color: #001531;
}

.panel-primary .table {
	color: #a5c8e6;
}
.panel-primary .table > thead > tr > th {
	border-bottom: 2px solid #2f6899;
}
.panel-primary .table > tbody > tr > td {
	border-bottom: 1px solid #2f6899;
}
.panel-primary .table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #032045;
}

@media screen and (min-width: 3800px) {
	.panel-primary > .panel-heading {
		font-size: 2.5em;
	}
	.panel-primary .table {
		font-size: 2em;
	}
	.panel-primary > .panel-body {
		padding: 5em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	.panel-primary > .panel-heading {
		font-size: 1.5em;
	}
	.panel-primary .table {
		font-size: 1.2em;
	}
	.panel-primary > .panel-body {
		padding: 2em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
	.panel-primary > .panel-heading {
		font-size: 1.1em;
	}
	.panel-primary .table {
		font-size: 1em;
	}
	.panel-primary > .panel-body {
		padding: 1em;
	}
}

/****************************************/

.panel-success {
	background-color: #112a30;
	border: 0;
	border-radius: 10px;
}
.panel-success > .panel-heading {
	text-shadow: 2px 2px 8px #0f3944;
	color: #47abc5;
	background-color: #245c6b;
	border-color: #47abc5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.panel-success > .panel-body {
	border-radius: 10px;
	background-color: #112a30;
}

.panel-success .table {
	color: #a3cad4;
}
.panel-success .table > thead > tr > th {
	border-bottom: 2px solid #296271;
}
.panel-success .table > tbody > tr > td {
	border-bottom: 1px solid #296271;
}
.panel-success .table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #14343c;
}

@media screen and (min-width: 3800px) {
	.panel-success > .panel-heading {
		font-size: 2.5em;
	}
	.panel-success .table {
		font-size: 2em;
	}
	.panel-success > .panel-body {
		padding: 5em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	.panel-success > .panel-heading {
		font-size: 1.5em;
	}
	.panel-success .table {
		font-size: 1.2em;
	}
	.panel-success > .panel-body {
		padding: 2em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
	.panel-success > .panel-heading {
		font-size: 1.1em;
	}
	.panel-success .table {
		font-size: 1em;
	}
	.panel-success > .panel-body {
		padding: 1em;
	}
}

/****************************************/

.panel-info {
	background-color: #50382d;
	border-color: #452617;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.panel-info > .panel-heading {
	background-color: #452617;
	border-color: #452617;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	color: #ddd;
	text-shadow: 2px 2px #684e4e;
}
.panel-info > .panel-footer {
	background-color: #452617;
	border-color: #452617;
}
.panel-info > .panel-footer .list-group > .list-group-item {
	border-radius: 10px;
	margin: 15px 0;
	padding: 2em;
	box-shadow: 5px 5px 14px #310e0e;
	background-color: #1e1414;
	border-width: 0;
	color: #ffddd4;
}

@media screen and (min-width: 3800px) {
	.panel-info > .panel-heading {
		font-size: 2.5em;
	}
	.panel-info > .panel-footer {
		font-size: 2em;
	}
	.panel-info > .panel-footer .list-group > .list-group-item {
		padding: 2em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	.panel-info > .panel-heading {
		font-size: 1.5em;
	}
	.panel-info > .panel-footer {
		font-size: 1.5em;
	}
	.panel-info > .panel-footer .list-group > .list-group-item {
		padding: 1.5em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
	.panel-info > .panel-heading {
		font-size: 1.5em;
	}
	.panel-info > .panel-footer {
		font-size: 1.2em;
	}
	.panel-info > .panel-footer .list-group > .list-group-item {
		padding: 1em;
	}
}

/****************************************/

.panel-default {
	background-color: #288faa;
	border-color: #288faa;
	border-radius: 15px;
	border-width: 5px;
}
.panel-default > .panel-body {
	background-color: #1b0008;
	border-color: #288faa;
	border-radius: 12px;
}
.panel-default > .panel-footer {
	background-color: #288faa;
	border-color: #288faa;
	color: #aee8ff;
	text-align: center;
	text-shadow: 2px 2px 16px #1f5d6b;
}

@media screen and (min-width: 3800px) {
	.panel-default > .panel-body {
		padding: 5em;
	}
	.panel-default > .panel-footer {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	.panel-default > .panel-body {
		padding: 2em;
	}
	.panel-default > .panel-footer {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
	.panel-default > .panel-body {
		padding: 2em;
	}
	.panel-default > .panel-footer {
		font-size: 1.5em;
	}
}

/****************************************/

.panel-warning {
	background-color: #0e172d;
	color: #fff;
	border-width: 0;
	box-shadow: 2px 2px 15px #3d296c;
}
.panel-warning > .panel-heading {
	background-color: #081518;
	border: 0;
	color: #9ddfe7;
}

@media screen and (min-width: 3800px) {
	.panel-warning {
		font-size: 2em;
	}
	.panel-warning > .panel-body {
		padding: 1em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	.panel-warning {
		font-size: 1.2em;
	}
	.panel-warning > .panel-body {
		padding: 1em;
	}
}

/****************************************/

body.transpblue h1 {
	color: #ddeaf5;
}

.panel-transpblue {
	background-color: #112a301a;
	border: 0;
	border-radius: 10px;
}
.panel-transpblue > .panel-heading {
	text-shadow: 2px 2px 8px #0f3944;
	color: #b1e3f0;
	background-color: #112a301a;
	border-color: #47abc5c9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.panel-transpblue > .panel-body {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #112a3075;
}

.panel-transpblue .table {
	color: #def0f5;
	text-shadow: 1px 1px 3px #00181c;
}
.panel-transpblue .table > thead > tr > th {
	border-bottom: 2px solid #296271c9;
}
.panel-transpblue .table > tbody > tr > td {
	border-bottom: 1px solid #296271c9;
}
.panel-transpblue .table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #14343c1a;
}

@media screen and (min-width: 3800px) {
	.panel-transpblue > .panel-heading {
		font-size: 2.5em;
	}
	.panel-transpblue .table {
		font-size: 2em;
	}
	.panel-transpblue > .panel-body {
		padding: 5em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	.panel-transpblue > .panel-heading {
		font-size: 1.5em;
	}
	.panel-transpblue .table {
		font-size: 1.2em;
	}
	.panel-transpblue > .panel-body {
		padding: 2em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
	.panel-transpblue > .panel-heading {
		font-size: 1.1em;
	}
	.panel-transpblue .table {
		font-size: 1em;
	}
	.panel-transpblue > .panel-body {
		padding: 1em;
	}
}

/****************************************/

.nav-pills {
	margin-bottom: 10px;
}

.nav-pills > li > a {
	padding: 5px 8px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	color: #a5c8e6;
}

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
	background-color: #81a4a1;
}

@media screen and (min-width: 3800px) {
	.nav-pills {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	.nav-pills {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
	.nav-pills {
		font-size: 0.8em;
	}
}

/****************************************/

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	background-color: #e6e6e6;
}

@media screen and (min-width: 3800px) {
	#context-menu {
		font-size: 2em;
		border-radius: 0.3em;
	}
	#context-menu > li > a {
		padding: 0.5em 2em;
	}
}

@media screen and (min-width: 1900px) and (max-width: 3799px) {
	#context-menu {
		font-size: 1em;
		border-radius: 0.2em;
	}
	#context-menu > li > a {
		padding: 0.5em 1.5em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
	#context-menu {
		font-size: 0.8em;
		border-radius: 0.2em;
	}
	#context-menu > li > a {
		padding: 0.5em 1em;
	}
}

/****************************************/

#error-message {
	position: fixed;
	top: 100px;
	display: none;
	text-align: center;
	font-size: 1em;
	padding: 1em;
}

@media screen and (min-width: 3800px) {
	#error-message {
		font-size: 3em;
		padding: 1em;
	}
}
@media screen and (min-width: 1900px) and (max-width: 3799px) {
	#error-message {
		font-size: 2em;
		padding: 1em;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
	#error-message {
		font-size: 1em;
		padding: 1em;
	}
}
